<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Beyond Corp.{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="{{ asset ('assets/css/beyond-style.css') }} ">
    {% endblock %}
</head>

<header>
</header>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Hi, Evelyn!</header>
        <ul>
            <li><a href="#"><i class="fas fa-columns"></i>Dashboard</a></li>
            <li><a href="#"><i class="far fa-newspaper"></i>News</a></li>
            <li><a href="#"><i class="fas fa-calendar-week"></i>Calendrier</a></li>
            <li><a href="#"><i class="fas fa-headset"></i>Assistance</a></li>
            <li><a href="#"><i class="far fa-envelope"></i>Mail</a></li>
            <li><a href="#"><i class="far fa-map"></i></i>Map</a></li>

        </ul>
    </div>
    <div class="bg-desktop">

        <div class="post-it">NOTES:
            <hr>
            <ul>
                <li>Aller boire un Spinoza avec Rachel !</li>
            </ul>
        </div>
    </div>
{% block body %}{% endblock %}


{% block javascripts %}
   
{% endblock %}
</body>
</html>
