{% extends 'base-beyond.html.twig' %}

{% block body %}
    <div class="bg-desktop">

        <div class="post-it">NOTES:
            <hr>
            <ul>
                <li>Aller boire un Spinoza avec Rachel !</li>
            </ul>
        </div>
    </div>

{% endblock %}


