{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('assets/css/mission-instructions.css') }} ">
{% endblock %}

{% block title %}Mission Instruction{% endblock %}

{% block body %}
    <div class="container py-5 mission-instructions">

        <h1 class="py-5">Lettre de mission </h1>

        <p class="lead">
            Bonjour,<br><br> nous faisons appel à vous pour la mise à jour du poste de travail de notre collaboratrice Evelyn ??? qui nous a quittée prématurément.<br><br>
            Son poste peut contenir des données sensibles, personnelles ou corporate. Nous vous demandons la plus grande discrétion. Nous vous rappelons que vous avez signé un accord de confidentialité à votre arrivée dans l'entreprise.
            <br><br>Votre mission est donc de désintaller le bureau de Mme Evelyn.
            <br><br>Bien cordialement,
            <br><br>Les ressources humaines


        </p>

    <a href="{{ path('beyond-dashboard')}}" class="btn bg-bordeaux my-5">Commencer la mission</a>
    </div>
{% endblock %}