{% extends 'base-beyond.html.twig' %}
{% block stylesheets %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ asset ('assets/css/beyond-news-style.css') }} ">

{% endblock %}


{% block body %}

    <div class="wrapper container top-margin">
        <header class="row">
            <div class="logo col-md-9">
                <h1>News <small>BEYOND CORP.</small></h1>
            </div>

        </header>
    </div>
    <nav class="primary-nav">
        <div class="wrapper">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">News</a></li>

            </ul>
        </div>
    </nav>
    <div class="wrapper page">
        <h2 class="headline">WHAT'S UP IN BEYOND CORP ?</h2>
        <div class="row action-group">
            <div class="col-lg-4 col-sm-6 grid action-group-large">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Carnet NOIR</h3>
                        <h4 class="emphasis">Disparition d'une collaboratrice</h4>
                        <p>C'est avec beaucoup de tristesse que nous apprenons le décès de Mme Evelyn GREY, collaboratrice de renommée au sein de notre compagnie. La direction a décidé de mettre en place une cellule d'aide et de soutien 
                            pour ses collègues qui ont malheureusement assisté à son décès, mardi dernier. Ses travaux seront sauvegardés et une équipe viendra nettoyer son ordinateur de travail selon la 
                            politique de notre société. 
                            Nous adressons tout notre soutien à sa famille. 
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid action-group-large">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Service IT</h3>
                        <h4 class="emphasis">Un audit a venir pour nos développeurs</h4>
                        <p>Les 3 mousquetaires de la société QTN, Antoine Q, Julien T et Fréderic N seront en nos murs la semaine prochaine pour un audit. Alors avis à nos developpeurs : verifiez bien vos codes
                            car quand QTN passe les erreurs de syntaxes(voir les développeurs) trépassent.  </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-12 row">
                <div class="col-lg-12 col-sm-6 grid">
                    <h3 class="media-heading">Quotidien</h3>
                    <p>Toutes nos machines à café seront en maintenance la semaine prochaine. Pensez à vos thermos !</p>

                    <hr class="action-group">
                </div>
                <div class="col-lg-12 col-sm-6 mini-offset-left grid">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="media-heading">Règlement Intérieur</h3>
                            <p>Suite à de nombreux accidents, il sera desormais interdit de jouer à Pokemon Go dans l'enceinte de l'entreprise. </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <article class="col-sm-8">
                <h2>Gros plan : découverte grâce au robot XDR-589</h2>
                <p>"Des chercheurs du laboratoire national américain Lawrence-Berkeley ont utilisé le robot XDR-589 
                    produit par Beyond Corp. pour révéler de nouvelles connaissances scientifiques 
                    cachées dans d'anciens documents de recherche. L'intelligence artificielle permet alors 
                    de faire le lien entre des écrits scientifiques distincts pour en tirer des découvertes inédites.</p>

                <p>    "La majorité des connaissances scientifiques existent uniquement sous formes d'articles, et donc 
                    au format texte, ce qui rend difficile toute analyse globale. De ce fait, de nombreuses découvertes potentielles 
                    sont ratées, simplement parce qu'aucun être humain n'a su faire le lien entre deux découvertes séparées. 
                    Une équipe de chercheurs du laboratoire national Lawrence-Berkeley aux États-Unis a publié un article dans le 
                    journal Nature, qui détaille l'utilisation de l'intelligence artificielle pour pallier ce problème.
                    Les chercheurs ont fait appel au deep learning, une méthode d'apprentissage automatique de l'intelligence artificielle 
                    qui repose sur des réseaux neuronaux, pour créer un algorithme appelé Word2vec. Ce dernier a analysé les abstracts, autrement 
                    dit, les résumés, de 3,3 millions d'articles traitant de la science des matériaux, et généré un vocabulaire d'environ 
                    500.000 mots. L'algorithme a décortiqué les relations entre les différents mots, en représentant chacun par un vecteur."

                </p>


                <div class="row email-sign-up">
                    <div class="col-sm-5">
                        <h2>Newsletters</h2>
                        <p>Soyez les premiers....</p>
                    </div>
                    <div class="col-sm-7">
                        <div class="valign">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="nomprenom@beyond-corp.com">
                                <span class="input-group-btn"><button class="btn btn-default" type="button">S'abonner</button></span>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
            <section class="col-sm-4 news">
                <h2>Autres News :</h2>
                <h3>Un drôle d'énergumène</h3>
                <p>Un nouveau projet d'intelligence artificielle a été découvert par l'équipe de Jonathan STONE.</p>
                <h3>Nouvelles mesures de sécurité</h3>
                <p>Face au covid-19, de nouvelles mesures de sécurtié ont été mises en place. Référez-vous à votre responsable hiérarchique.</p>
                <h3>Visite du président de la république</h3>
                <p>En ce 24 mai 2020, nous avons eu le plaisir de recevoir le président de la république !</p>
                   
            </section>
        </div>
    </div>
{% endblock %}

{% block footer %}

    <footer class="wrapper row">
        <div class="col-sm-8">
            <p>Designed by Kevin Chau &copy; 2016.</p>
            <p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
        </div>
        <div class="col-sm-4">
            <ul class="nav nav-tabs valign">
                <li role="presentation"><a href="#">Privacy Policy</a></li>
                <li role="presentation"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>

{% endblock %}