<<<<<<< HEAD
{% extends 'base-beyond.html.twig' %}
{% block stylesheets %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ asset ('assets/css/beyond-news-style.css') }} ">

{% endblock %}


{% block body %}

    <div class="wrapper container top-margin">
        <header class="row">
            <div class="logo col-md-9">
                <h1>News <small>BEYOND CORP.</small></h1>
            </div>

        </header>
    </div>
    <nav class="primary-nav">
        <div class="wrapper">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">News</a></li>

            </ul>
        </div>
    </nav>
    <div class="wrapper page">
        <h2 class="headline">WHAT'S UP IN BEYOND CORP ?</h2>
        <div class="row action-group">
            <div class="col-lg-4 col-sm-6 grid action-group-large">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Carnet NOIR</h3>
                        <h4 class="emphasis">Disparition d'une collaboratrice</h4>
                        <p>Notre collaboratrice EVELYN que vous connaissez tous tous bien à disparue la semaine dernière d'une mort de cause naturelle ...
                            ces travaux seront sauvegardés et son pc nettoyé selon la politique de notre société </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid action-group-large">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">Service IT</h3>
                        <h4 class="emphasis">Un audit a venir pour nos developpeurs</h4>
                        <p>Les 3 mousquetaires de la société QTN, Antoine Q, Julien T et Fréderic N seront en nos murs la semaine prochaine pour un audit.Alors avis a nos developpeurs : verifiez bien vos codes
                            car quand QTN passe les erreurs de syntaxes(voir les developpeurs) trépassent.  </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-12 row">
                <div class="col-lg-12 col-sm-6 grid">
                    <h3 class="media-heading">Quotidien</h3>
                    <p>Toutes nos machines a café seront en maintenance la semaine prochaine. Pensez à vos thermos </p>

                    <hr class="action-group"/>
                </div>
                <div class="col-lg-12 col-sm-6 mini-offset-left grid">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="media-heading">reglement Interieur</h3>
                            <p>Suite a de nombreux accidents, il sera desormais interdit de jouer a Pokemon Go dans l'enceinte de l'entreprise </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <article class="col-sm-8">
                <h2>Gros plan</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum."</p>

                <p>    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                    ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                    quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                    eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                    quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                    voluptas nulla pariatur?"

                </p>


                <div class="row email-sign-up">
                    <div class="col-sm-5">
                        <h2>Email Signup</h2>
                        <p>Soyez les premiers....</p>
                    </div>
                    <div class="col-sm-7">
                        <div class="valign">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="username@website.com">
                                <span class="input-group-btn"><button class="btn btn-default" type="button">Add Me!</button></span>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
            <section class="col-sm-4 news">
                <h2>News Module</h2>
                <h3>What a strange person</h3>
                <p>Where'd you get the coconuts? It's only a model. What a strange person. Bloody Peasant!</p>
                <h3>Is that a cooking show?</h3>
                <p>Hey, guess what you're accessories to. I found what I need. And it's not friends, it's things.</p>
                <h3>The alien mothership is in orbit here</h3>
                <p>We have bigger problems. Large bet on myself in round one. Your best is an idiot! </p>
                <div class="rss-link">
                    <p>
                        <a href="#"><img src="http://graphicdesignjunction.com/images/rss.png" alt="rss icon" /></a> <a href="#">link to RSS Feed</a></p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block footer %}

    <footer class="wrapper row">
        <div class="col-sm-8">
            <p>Designed by Kevin Chau &copy; 2016.</p>
            <p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
        </div>
        <div class="col-sm-4">
            <ul class="nav nav-tabs valign">
                <li role="presentation"><a href="#">Privacy Policy</a></li>
                <li role="presentation"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>

=======
{% extends 'base-beyond.html.twig' %}
{% block stylesheets %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{ asset ('assets/css/beyond-news-style.css') }} ">

{% endblock %}


{% block body %}

<div class="wrapper container top-margin">
    <header class="row">
        <div class="logo col-md-9">
            <h1>News <small>BEYOND CORP.</small></h1>
        </div>
        
    </header>
</div>
<nav class="primary-nav">
    <div class="wrapper">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">News</a></li>
           
        </ul>
    </div>
</nav>
<div class="wrapper page">
    <h2 class="headline">WHAT'S UP IN BEYOND CORP ?</h2>
    <div class="row action-group">
        <div class="col-lg-4 col-sm-6 grid action-group-large">
            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading">Carnet NOIR</h3>
                    <h4 class="emphasis">Disparition d'une collaboratrice</h4>
                    <p>Notre collaboratrice EVELYN que vous connaissez tous tous bien à disparue la semaine dernière d'une mort de cause naturelle ...
                    ces travaux seront sauvegardés et son pc nettoyé selon la politique de notre société </p>
                    
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 grid action-group-large">
            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading">Service IT</h3>
                    <h4 class="emphasis">Un audit a venir pour nos developpeurs</h4>
                    <p>Les 3 mousquetaires de la société QTN, Antoine Q, Julien T et Fréderic N seront en nos murs la semaine prochaine pour un audit.Alors avis a nos developpeurs : verifiez bien vos codes
                    car quand QTN passe les erreurs de syntaxes(voir les developpeurs) trépassent.  </p>
                   
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 row">
            <div class="col-lg-12 col-sm-6 grid">
                <h3 class="media-heading">Quotidien</h3>
                <p>Toutes nos machines a café seront en maintenance la semaine prochaine. Pensez à vos thermos </p>
                
                <hr class="action-group"/>
            </div>
            <div class="col-lg-12 col-sm-6 mini-offset-left grid">
                <div class="media">
                    <div class="media-body">
                        <h3 class="media-heading">reglement Interieur</h3>
                        <p>Suite a de nombreux accidents, il sera desormais interdit de jouer a Pokemon Go dans l'enceinte de l'entreprise </p>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-8">
            <h2>Gros plan</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum."</p>
            
            <p>    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
            ab illo inventore veritatis et quasi architecto beatae vitae dicta
            sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
            aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
            eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
            voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
            corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
            quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
            voluptas nulla pariatur?"

        </p>


            <div class="row email-sign-up">
                <div class="col-sm-5">
                    <h2>Email Signup</h2>
                    <p>Soyez les premiers....</p>
                </div>
                <div class="col-sm-7">
                    <div class="valign">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="username@website.com">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">Add Me!</button></span>
                        </div>
                       
                    </div>
              </div>
            </div>
        </article>
        <section class="col-sm-4 news">
            <h2>News Module</h2>
            <h3>What a strange person</h3>
            <p>Where'd you get the coconuts? It's only a model. What a strange person. Bloody Peasant!</p>
            <h3>Is that a cooking show?</h3>
            <p>Hey, guess what you're accessories to. I found what I need. And it's not friends, it's things.</p>
            <h3>The alien mothership is in orbit here</h3>
            <p>We have bigger problems. Large bet on myself in round one. Your best is an idiot! </p>
            <div class="rss-link">
                <p>
                    <a href="#"><img src="http://graphicdesignjunction.com/images/rss.png" alt="rss icon" /></a> <a href="#">link to RSS Feed</a></p>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block footer %}

<footer class="wrapper row">
    <div class="col-sm-8">
        <p>Designed by Kevin Chau &copy; 2016.</p>
        <p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
    </div>
    <div class="col-sm-4">
        <ul class="nav nav-tabs valign">
            <li role="presentation"><a href="#">Privacy Policy</a></li>
            <li role="presentation"><a href="#">FAQ</a></li> 
        </ul>
    </div>
</footer>

>>>>>>> origin/franck
{% endblock %}