{% extends 'base.html.twig' %}

{% block title %}New Indice{% endblock %}

{% block body %}
    <h1>Create new Indice</h1>

    {{ include('indice/_form.html.twig') }}

    <a href="{{ path('indice_index') }}">back to list</a>
{% endblock %}
