{% extends 'base.html.twig' %}

{% block body %}

    <section>

        <!--<div class="container">
            <div class="row">-->

                <div class="col-lg-12 col-md-12 col-md-offset-2">
                    <div class="jumbotron">
                        <h1 class="text-center">Bienvenue amis aventuriers !</h1>
                        <h3>Vous êtes prêts à vivre des aventures hors du commun ? Alors vous êtes au bon endroit.</h3>
                        <p>Ici vous attendent des missions aux scénarios extraordinaires ! Science-Fiction, Action,
                            Mystère, Horreur... Notre volonté, votre divertissement. Alors installez vous bien et
                            préparez vous au grand voyage.</p>
                        <p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button">Inscription</a></p>
                    </div>
                </div>

            <!--</div>
        </div>-->

    </section>

{% endblock %}
