{% extends 'base.html.twig' %}

{% block body %}

    <section class="moving-wave">

        <div class="wave waveup"></div>

        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <div class="jumbotron">
                        <h1>Bienvenu amis aventuriers !</h1>
                        <h3>Vous êtes prêts à vivre des aventures hors du commun ? Alors vous êtes au bon endroit.</h3>
                        <p>Ici vous attendent des missions aux scénarios extraordinaires ! Sciences-Fictions, Action, Mystère, Horreur ... Notre volonté, votre divertissement. Alors installez vous bien et préparez vous au grand voyage.</p>
                        <p><a href="#" class="btn btn-primary btn-lg" role="button">S'enregistrer</a></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="wave wavedown"></div>

    </section>

{% endblock %}
