<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Esc{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }} ">
    {% endblock %}


</head>

<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/esc-logo-2-final.png') }}" width="80px" height="80px" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href=""><span class="spot"></span>Accueil</a>
                                </div>
                            </svg>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href="#adventures"><span class="spot"></span>Les aventures</a>
                                </div>
                            </svg>
                        </div>
                    </li>
                    <!--<li class="nav-item">
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href=""><span class="spot"></span>F.A.Q</a>
                                </div>
                            </svg>
                        </div>
                    </li>-->
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item right dropdown">
                            <div class="svg-wrapper">
                                <svg height="40" width="155" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="155"/>
                                    <div id="text">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Connexion</b>
                                            <span class="caret spot"></span></a>
                                        <ul id="login-dp" class="dropdown-menu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form class="form" role="form" method="post" action="login"
                                                              accept-charset="UTF-8" id="login-nav">
                                                            <div class="form-group">
                                                                <label class="sr-only" for="exampleInputEmail2">Adresse
                                                                    mail</label>
                                                                <input type="email" class="form-control"
                                                                       id="exampleInputEmail2"
                                                                       placeholder="Adresse mail" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="sr-only" for="exampleInputPassword2">Mot
                                                                    de passe</label>
                                                                <input type="password" class="form-control"
                                                                       id="exampleInputPassword2"
                                                                       placeholder="Mot de passe" required>
                                                                <div class="help-block text-right"><a href=""
                                                                                                      style="color: #F2F2F2;">Mot
                                                                        de passe oublié ?</a></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-primary btn-block">
                                                                    Se connecter
                                                                </button>
                                                            </div>
                                                            <!--<div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> keep me logged-in
                                                                </label>
                                                            </div>-->
                                                        </form>
                                                    </div>
                                                    <div class="bottom text-center">
                                                        Pas encore inscrit ? <a href="#"><b style="color: #F2F2F2">Créez
                                                                vous un compte</b></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </svg>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item right">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href=""><span class="spot"></span>Se déconnecter</a>
                                    </div>
                                </svg>
                            </div><!-- à ne faire apparaître que si connecté-->
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset ('assets/javascript/javaScript.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script>
        (function ($) {
            "use strict";
            $('.next').click(function () {
                $('.carousel').carousel('next');
                return false;
            });
            $('.prev').click(function () {
                $('.carousel').carousel('prev');
                return false;
            });
        })
        (jQuery);
    </script>
{% endblock %}
</body>
<footer>
    <div class="main"></div>
    <div class="footer">
        <div class="bubbles">
            <div class="bubble"
                 style="--size:2.235501331400517rem; --distance:7.214520868796471rem; --position:49.741899556891354%; --time:2.0249610412192114s; --delay:-3.8753119822279296s;"></div>
            <div class="bubble"
                 style="--size:4.596540132698307rem; --distance:9.196989824506993rem; --position:65.93273868777952%; --time:2.545050185446884s; --delay:-2.178795090130426s;"></div>
            <div class="bubble"
                 style="--size:2.985317908530731rem; --distance:6.289046875332864rem; --position:51.37656122735914%; --time:2.5084520947481637s; --delay:-2.3960778569529704s;"></div>
            <div class="bubble"
                 style="--size:2.56020227165015rem; --distance:7.8767950114968rem; --position:62.46511762254542%; --time:3.269802160181022s; --delay:-2.1669235628478805s;"></div>
            <div class="bubble"
                 style="--size:3.57011691418076rem; --distance:6.2175767362202095rem; --position:98.70953388878084%; --time:2.3734464230871883s; --delay:-3.1883230866360655s;"></div>
            <div class="bubble"
                 style="--size:2.561095513863898rem; --distance:8.490240642002451rem; --position:13.60654654679093%; --time:2.7450575637166517s; --delay:-2.1960843624912374s;"></div>
            <div class="bubble"
                 style="--size:4.363659294331783rem; --distance:6.960433816832024rem; --position:52.72252787119376%; --time:3.57069693708562s; --delay:-3.6338821933376564s;"></div>
            <div class="bubble"
                 style="--size:3.651279184043889rem; --distance:7.906784896776003rem; --position:51.72712387513403%; --time:3.053225629833285s; --delay:-2.2206614305406256s;"></div>
            <div class="bubble"
                 style="--size:2.2213180452009897rem; --distance:8.024375713633368rem; --position:90.99715885138272%; --time:3.078934629435642s; --delay:-3.2401420584029665s;"></div>
            <div class="bubble"
                 style="--size:3.0215365100206917rem; --distance:6.67272994820306rem; --position:35.307242143464116%; --time:3.0092296525182163s; --delay:-2.647081507558181s;"></div>
            <div class="bubble"
                 style="--size:4.4877106189610885rem; --distance:8.887673119395565rem; --position:96.35218235510453%; --time:2.8970153646119527s; --delay:-2.0102278220066188s;"></div>
            <div class="bubble"
                 style="--size:4.166569697142486rem; --distance:9.217390667761993rem; --position:32.96884815336717%; --time:3.2843790518322478s; --delay:-2.033093683449715s;"></div>
            <div class="bubble"
                 style="--size:5.459698910250303rem; --distance:9.719871147113281rem; --position:43.230891097552814%; --time:2.757632254473948s; --delay:-2.2026517476968914s;"></div>
            <div class="bubble"
                 style="--size:2.910318023124657rem; --distance:9.863527694649772rem; --position:11.425265202814554%; --time:2.0509760007112074s; --delay:-2.5477641584677273s;"></div>
            <div class="bubble"
                 style="--size:5.582312416052231rem; --distance:6.913439559140077rem; --position:83.24438308731001%; --time:3.493272371620522s; --delay:-2.2648020569208s;"></div>
            <div class="bubble"
                 style="--size:4.694151972727673rem; --distance:9.259806783275302rem; --position:79.77074600498227%; --time:2.546864822593566s; --delay:-2.5935270295577477s;"></div>
            <div class="bubble"
                 style="--size:2.5112658417749705rem; --distance:8.588323501688365rem; --position:27.028435372999887%; --time:2.1839668682175164s; --delay:-3.737564924571045s;"></div>
            <div class="bubble"
                 style="--size:2.5214423699914583rem; --distance:6.536941463902877rem; --position:80.47583997830958%; --time:3.4231258207919804s; --delay:-2.8725261980827006s;"></div>
            <div class="bubble"
                 style="--size:3.204905309912971rem; --distance:6.195279208570298rem; --position:51.47635261806619%; --time:3.8729434913702034s; --delay:-3.4091102709590846s;"></div>
            <div class="bubble"
                 style="--size:2.623895876203287rem; --distance:6.871575661876642rem; --position:30.632686459288912%; --time:3.555720003362865s; --delay:-2.2424975733991914s;"></div>
            <div class="bubble"
                 style="--size:2.485927952823709rem; --distance:6.083010206488853rem; --position:37.36773394496832%; --time:3.2646371778917644s; --delay:-2.129342514819304s;"></div>
            <div class="bubble"
                 style="--size:3.2075524257469246rem; --distance:7.786806672097752rem; --position:1.0163356170837856%; --time:3.0430612506765993s; --delay:-2.4406658894316005s;"></div>
            <div class="bubble"
                 style="--size:2.6062939672947705rem; --distance:7.144681617444849rem; --position:89.16278334045504%; --time:2.5876166460266665s; --delay:-3.167720084445801s;"></div>
            <div class="bubble"
                 style="--size:3.2553274894014983rem; --distance:7.895777576520087rem; --position:11.993467361471176%; --time:2.449238396571769s; --delay:-3.736792743453241s;"></div>
            <div class="bubble"
                 style="--size:4.756781741285129rem; --distance:9.542523169137922rem; --position:15.43446110033678%; --time:2.4331247753218364s; --delay:-2.788762923362718s;"></div>
            <div class="bubble"
                 style="--size:4.133690288354256rem; --distance:6.669105422993392rem; --position:104.7366559586372%; --time:2.3353552812369025s; --delay:-2.730394967780947s;"></div>
            <div class="bubble"
                 style="--size:5.77878977037438rem; --distance:7.2641992499325605rem; --position:54.864907053724586%; --time:3.2472921052172814s; --delay:-2.6859858662182887s;"></div>
            <div class="bubble"
                 style="--size:3.913979385221901rem; --distance:8.912379070801649rem; --position:97.98633223817319%; --time:2.613207127624969s; --delay:-2.7930008809259603s;"></div>
            <div class="bubble"
                 style="--size:4.288425811642896rem; --distance:7.212293675550114rem; --position:81.93199268869697%; --time:2.551019133305776s; --delay:-3.4461734795885905s;"></div>
            <div class="bubble"
                 style="--size:2.8310579260255393rem; --distance:6.032940175790286rem; --position:59.633699570589%; --time:3.7043059601814554s; --delay:-2.0509732466136277s;"></div>
            <div class="bubble"
                 style="--size:4.024284059511299rem; --distance:6.9613069194445805rem; --position:20.5860171583753%; --time:2.125051518946085s; --delay:-3.6367711965421714s;"></div>
            <div class="bubble"
                 style="--size:4.115659368970729rem; --distance:6.108585983663731rem; --position:62.34317094511306%; --time:2.227085001168555s; --delay:-2.706206288001316s;"></div>
            <div class="bubble"
                 style="--size:3.9943982229011503rem; --distance:8.309942584650466rem; --position:39.75025258840534%; --time:3.5577920047462324s; --delay:-3.000496908384871s;"></div>
            <div class="bubble"
                 style="--size:2.256152315189782rem; --distance:6.821029016744021rem; --position:89.97499434713237%; --time:2.6491398164819944s; --delay:-2.8279177918090896s;"></div>
            <div class="bubble"
                 style="--size:5.155655836864076rem; --distance:6.559200055480946rem; --position:63.962277401332074%; --time:2.1958819875926467s; --delay:-3.003113084511133s;"></div>
            <div class="bubble"
                 style="--size:5.7076189298916rem; --distance:8.209435880714919rem; --position:27.146260556537676%; --time:3.4573079321935243s; --delay:-3.865437774569423s;"></div>
            <div class="bubble"
                 style="--size:5.594430778675579rem; --distance:8.818661087494334rem; --position:78.26694887214568%; --time:3.9656065834746475s; --delay:-2.309625891917208s;"></div>
            <div class="bubble"
                 style="--size:3.6173671404517975rem; --distance:9.036995177136369rem; --position:27.059960699456965%; --time:3.360854185137681s; --delay:-3.0836978984086043s;"></div>
            <div class="bubble"
                 style="--size:3.9193159906491326rem; --distance:8.139688716389138rem; --position:9.247584425058426%; --time:2.2421650208118087s; --delay:-2.1838057416675474s;"></div>
            <div class="bubble"
                 style="--size:5.025442974361285rem; --distance:9.567082022180799rem; --position:93.81937533958634%; --time:3.32749191704571s; --delay:-2.135908452287769s;"></div>
            <div class="bubble"
                 style="--size:3.742167875067082rem; --distance:9.852389113216619rem; --position:86.31182352064198%; --time:2.660622707114247s; --delay:-3.472095298514447s;"></div>
            <div class="bubble"
                 style="--size:5.835160007936921rem; --distance:8.096305279462449rem; --position:89.45491461944646%; --time:3.077099044010874s; --delay:-2.0273669525488383s;"></div>
            <div class="bubble"
                 style="--size:3.05041112266945rem; --distance:9.260599404723632rem; --position:82.38394953622927%; --time:3.5507852709279444s; --delay:-2.9242812353885927s;"></div>
            <div class="bubble"
                 style="--size:2.591418544000933rem; --distance:9.715337154216552rem; --position:73.16516925438127%; --time:2.0553873472079687s; --delay:-2.999112797076018s;"></div>
            <div class="bubble"
                 style="--size:5.585021789220277rem; --distance:9.064334091820097rem; --position:96.87948320580834%; --time:3.3497906976921366s; --delay:-3.4066469574504725s;"></div>
            <div class="bubble"
                 style="--size:5.689884165185141rem; --distance:7.040869285757938rem; --position:80.62718576708838%; --time:2.226304912173092s; --delay:-2.6154202422728057s;"></div>
            <div class="bubble"
                 style="--size:5.445348051734187rem; --distance:8.600165941169202rem; --position:11.034280196596328%; --time:2.905386195379842s; --delay:-2.374446505093728s;"></div>
            <div class="bubble"
                 style="--size:5.057561694886889rem; --distance:8.439305514789602rem; --position:75.31911951974216%; --time:2.5807734547702896s; --delay:-3.948027381567688s;"></div>
            <div class="bubble"
                 style="--size:5.551783711402431rem; --distance:8.58280169827074rem; --position:48.93710084089888%; --time:3.5514335915183506s; --delay:-3.72133073888499s;"></div>
            <div class="bubble"
                 style="--size:3.1039716534325263rem; --distance:7.145972169268098rem; --position:67.71633048897563%; --time:3.647588538503734s; --delay:-2.0503953673627398s;"></div>
            <div class="bubble"
                 style="--size:5.372485166894501rem; --distance:6.680644024471516rem; --position:63.937350466582174%; --time:3.812582585854277s; --delay:-3.5615776922087634s;"></div>
            <div class="bubble"
                 style="--size:5.4903316209307595rem; --distance:7.343579913470707rem; --position:5.4301182153106%; --time:3.7286917129486916s; --delay:-2.423036801765723s;"></div>
            <div class="bubble"
                 style="--size:4.966453236949741rem; --distance:6.568938582360481rem; --position:54.45549113314463%; --time:3.709066738334864s; --delay:-2.269434797464048s;"></div>
            <div class="bubble"
                 style="--size:4.7755280902809085rem; --distance:8.283748153525769rem; --position:79.58103530580956%; --time:3.1592864003818533s; --delay:-2.569758180516691s;"></div>
            <div class="bubble"
                 style="--size:2.8110427547278682rem; --distance:6.8584510347948475rem; --position:53.4133394063774%; --time:2.8857900503810288s; --delay:-2.180195303171133s;"></div>
            <div class="bubble"
                 style="--size:3.5543570612469306rem; --distance:9.189934120149205rem; --position:88.27342877828559%; --time:2.149329429638971s; --delay:-2.980634383430449s;"></div>
            <div class="bubble"
                 style="--size:3.9194569964893757rem; --distance:9.509067967138357rem; --position:25.716871624212256%; --time:3.06746916406922s; --delay:-3.7520683255205602s;"></div>
            <div class="bubble"
                 style="--size:5.251323567619955rem; --distance:9.082273939781114rem; --position:28.175123689114912%; --time:2.8960516404160686s; --delay:-2.0338059028988043s;"></div>
            <div class="bubble"
                 style="--size:3.891543418031884rem; --distance:9.401546308640649rem; --position:65.10511297572559%; --time:2.032100318517519s; --delay:-3.053445132375133s;"></div>
            <div class="bubble"
                 style="--size:2.054262879696494rem; --distance:9.941331136162471rem; --position:88.91887381735681%; --time:3.9196381150806654s; --delay:-2.735858784133862s;"></div>
            <div class="bubble"
                 style="--size:3.8606762226202465rem; --distance:8.39006027919381rem; --position:104.27993865026258%; --time:2.095393518511045s; --delay:-3.1624115469722516s;"></div>
            <div class="bubble"
                 style="--size:3.0453681239978305rem; --distance:8.909564696430966rem; --position:42.32907353208361%; --time:2.6332575130417823s; --delay:-2.123472259287947s;"></div>
            <div class="bubble"
                 style="--size:5.953276939233299rem; --distance:8.0561306203622rem; --position:33.926203903286414%; --time:2.3201372492842416s; --delay:-2.8563151657227004s;"></div>
            <div class="bubble"
                 style="--size:3.826276871378669rem; --distance:8.579049461442466rem; --position:59.74168069646737%; --time:3.563433881595528s; --delay:-3.478946182859656s;"></div>
            <div class="bubble"
                 style="--size:3.8033976670878564rem; --distance:7.437113087369991rem; --position:76.17845103838629%; --time:2.7632006468700276s; --delay:-2.803193028620681s;"></div>
            <div class="bubble"
                 style="--size:4.918117399777788rem; --distance:6.336617845155265rem; --position:95.45527104064399%; --time:2.2769710712091s; --delay:-2.0470637797732247s;"></div>
            <div class="bubble"
                 style="--size:4.949098396667627rem; --distance:6.785041586542627rem; --position:70.90516925948371%; --time:2.6564370330799014s; --delay:-3.7031417476253767s;"></div>
            <div class="bubble"
                 style="--size:2.9406684380156447rem; --distance:6.782554544787036rem; --position:90.64599867998146%; --time:2.7661222355574093s; --delay:-3.8562110225334756s;"></div>
            <div class="bubble"
                 style="--size:2.4377520448506225rem; --distance:7.261291804061615rem; --position:-3.2554923013582093%; --time:2.7796609918500206s; --delay:-2.0857385222261633s;"></div>
            <div class="bubble"
                 style="--size:2.5418793179307704rem; --distance:6.190074511784761rem; --position:58.07068120351457%; --time:3.2672665685821314s; --delay:-3.3628033684138985s;"></div>
            <div class="bubble"
                 style="--size:3.4819900144173035rem; --distance:7.633638188514081rem; --position:13.690319363082931%; --time:3.1359643513196054s; --delay:-3.2073083227199524s;"></div>
            <div class="bubble"
                 style="--size:2.7570854343521276rem; --distance:8.523899099751569rem; --position:26.034167239883104%; --time:2.036705714696704s; --delay:-2.968934104361271s;"></div>
            <div class="bubble"
                 style="--size:4.77942027401117rem; --distance:8.704599561142569rem; --position:44.1233786999233%; --time:3.412493329051407s; --delay:-2.7923239804403033s;"></div>
            <div class="bubble"
                 style="--size:3.8069508709247115rem; --distance:9.916882478413374rem; --position:-3.3674216708872207%; --time:2.0540263648461448s; --delay:-2.4167349789692607s;"></div>
            <div class="bubble"
                 style="--size:3.860023626530129rem; --distance:8.27413264631788rem; --position:95.97152773923109%; --time:3.334654049612021s; --delay:-3.6512700500461595s;"></div>
            <div class="bubble"
                 style="--size:3.7628297980056793rem; --distance:6.2703326693996795rem; --position:78.07961691416698%; --time:3.20955903341676s; --delay:-3.735603933818982s;"></div>
            <div class="bubble"
                 style="--size:4.602062170296337rem; --distance:8.20122096734563rem; --position:68.33582703236874%; --time:3.3541277750372123s; --delay:-2.8540950814889223s;"></div>
            <div class="bubble"
                 style="--size:3.951941365216289rem; --distance:7.410185001776653rem; --position:55.296895918283134%; --time:2.064856497916243s; --delay:-2.7157275374130925s;"></div>
            <div class="bubble"
                 style="--size:3.064647242330631rem; --distance:7.3533879688638075rem; --position:-3.7097433061129026%; --time:2.8473501744758214s; --delay:-3.7267092936152517s;"></div>
            <div class="bubble"
                 style="--size:5.491343226307585rem; --distance:8.871401336060451rem; --position:58.404684194228736%; --time:2.9408219718847164s; --delay:-3.8196818856836634s;"></div>
            <div class="bubble"
                 style="--size:4.400872247527355rem; --distance:9.565250674972837rem; --position:66.04469814121308%; --time:2.9727409463114958s; --delay:-3.6618235235916234s;"></div>
            <div class="bubble"
                 style="--size:5.094331946673053rem; --distance:8.085291668381856rem; --position:32.48396738792087%; --time:2.2928178228405023s; --delay:-3.163166976205831s;"></div>
            <div class="bubble"
                 style="--size:4.145403014202961rem; --distance:9.67461202759451rem; --position:76.64879258909329%; --time:3.931130083304732s; --delay:-3.8685330506693147s;"></div>
            <div class="bubble"
                 style="--size:3.500282034334326rem; --distance:8.40034346043797rem; --position:99.41200433925214%; --time:2.3804195782299615s; --delay:-3.3096199984959362s;"></div>
            <div class="bubble"
                 style="--size:5.511104806599553rem; --distance:7.671994291402592rem; --position:103.1875238816526%; --time:2.23583306269694s; --delay:-2.0824086511702378s;"></div>
            <div class="bubble"
                 style="--size:2.4253645233892636rem; --distance:9.015161427299027rem; --position:15.200898071544522%; --time:2.483434395960758s; --delay:-3.7637488722137222s;"></div>
            <div class="bubble"
                 style="--size:4.704929562739111rem; --distance:9.264447503166778rem; --position:-1.5384184477457796%; --time:2.746159441189415s; --delay:-2.0787955202164956s;"></div>
            <div class="bubble"
                 style="--size:5.518943646236325rem; --distance:6.371887678155517rem; --position:81.39786213183976%; --time:3.2943161683617483s; --delay:-2.624687227695499s;"></div>
            <div class="bubble"
                 style="--size:4.176746549246766rem; --distance:6.5830773746952564rem; --position:31.37460443186962%; --time:2.6479399531162158s; --delay:-3.2866889564133395s;"></div>
            <div class="bubble"
                 style="--size:3.2207087138515202rem; --distance:8.101226532658236rem; --position:8.828322873506579%; --time:3.26090551092736s; --delay:-3.510168850445635s;"></div>
            <div class="bubble"
                 style="--size:5.568270453185267rem; --distance:6.834160358538074rem; --position:5.926252135581771%; --time:3.521831734819847s; --delay:-3.840681836233952s;"></div>
            <div class="bubble"
                 style="--size:5.672426585755905rem; --distance:6.114204898224602rem; --position:77.24028774773753%; --time:3.1825774157934004s; --delay:-3.2313639425218477s;"></div>
            <div class="bubble"
                 style="--size:5.163796867550303rem; --distance:6.196866332472482rem; --position:92.06237992871552%; --time:3.9502313331329026s; --delay:-3.35755245900289s;"></div>
            <div class="bubble"
                 style="--size:4.090855989065601rem; --distance:8.382606358095288rem; --position:20.515346130509126%; --time:3.8146451221366564s; --delay:-3.47658954388802s;"></div>
            <div class="bubble"
                 style="--size:2.2238871363417854rem; --distance:7.50130311261297rem; --position:95.94512426942035%; --time:3.2928164447779933s; --delay:-3.9839619867419716s;"></div>
            <div class="bubble"
                 style="--size:4.973101568976362rem; --distance:7.8532043494049955rem; --position:-0.8041902804322776%; --time:3.3049015629733836s; --delay:-3.694791903873658s;"></div>
            <div class="bubble"
                 style="--size:5.143160683570612rem; --distance:6.883330422097487rem; --position:51.55122388458416%; --time:3.4499015831477364s; --delay:-3.176742237604011s;"></div>
            <div class="bubble"
                 style="--size:5.509131341449159rem; --distance:8.52929346232248rem; --position:11.343066021170841%; --time:3.6994830056791588s; --delay:-2.1883799802631683s;"></div>
            <div class="bubble"
                 style="--size:4.144268171277337rem; --distance:6.670420042814061rem; --position:35.80503568331506%; --time:2.879818682104323s; --delay:-3.6115383805516657s;"></div>
            <div class="bubble"
                 style="--size:5.595627950079635rem; --distance:9.102881399548345rem; --position:34.78058735544285%; --time:3.296544611412035s; --delay:-2.373414477965862s;"></div>
            <div class="bubble"
                 style="--size:2.302609252543844rem; --distance:6.791437652362583rem; --position:-3.8091391153441%; --time:2.297424575727039s; --delay:-3.9451167249898687s;"></div>
            <div class="bubble"
                 style="--size:5.983873427119323rem; --distance:7.676535809892871rem; --position:51.83278175845766%; --time:3.0143011648734372s; --delay:-3.344431081325599s;"></div>
            <div class="bubble"
                 style="--size:3.554258970035444rem; --distance:6.500966517961209rem; --position:30.905251180231296%; --time:3.1011056894834867s; --delay:-2.8362902891434083s;"></div>
            <div class="bubble"
                 style="--size:5.501776233139977rem; --distance:9.53808279609899rem; --position:94.26853759217796%; --time:2.698702182644427s; --delay:-2.2924827589640326s;"></div>
            <div class="bubble"
                 style="--size:4.7670372967267rem; --distance:6.828755202566127rem; --position:28.724145526855843%; --time:3.935399663450772s; --delay:-2.9509432853595605s;"></div>
            <div class="bubble"
                 style="--size:4.381264048982091rem; --distance:7.241635171060826rem; --position:52.95490565394879%; --time:3.3069997866301972s; --delay:-2.198039584745671s;"></div>
            <div class="bubble"
                 style="--size:3.3867415912871026rem; --distance:8.44769948207411rem; --position:47.930434011730796%; --time:3.0195215697976296s; --delay:-2.514525108544522s;"></div>
            <div class="bubble"
                 style="--size:3.8445118473046325rem; --distance:7.393522946112602rem; --position:66.91954237824237%; --time:2.5531091024280625s; --delay:-2.601168793973414s;"></div>
            <div class="bubble"
                 style="--size:5.225547202513742rem; --distance:9.323270481403227rem; --position:30.199144162426563%; --time:2.765888429550945s; --delay:-3.183103714648666s;"></div>
            <div class="bubble"
                 style="--size:4.216357456053824rem; --distance:6.637112711449067rem; --position:85.4299356116555%; --time:3.9319627415098632s; --delay:-3.135687757633281s;"></div>
            <div class="bubble"
                 style="--size:5.933927353136749rem; --distance:8.514024634836082rem; --position:66.32382387079701%; --time:2.486364896735249s; --delay:-3.0922634754801446s;"></div>
            <div class="bubble"
                 style="--size:3.383721316238945rem; --distance:9.086354298102957rem; --position:64.12618954192719%; --time:2.067992789515217s; --delay:-3.5447224210183537s;"></div>
            <div class="bubble"
                 style="--size:3.3282268495188276rem; --distance:7.031216057540519rem; --position:-3.3511018811317017%; --time:2.6491334598976652s; --delay:-3.367936849448732s;"></div>
            <div class="bubble"
                 style="--size:3.6163876568669124rem; --distance:9.935239888152537rem; --position:83.13407958846977%; --time:2.176405459941546s; --delay:-2.8636004226382608s;"></div>
            <div class="bubble"
                 style="--size:4.944551356935184rem; --distance:6.694519040257668rem; --position:93.28544857049225%; --time:3.296364885876721s; --delay:-2.770343813846565s;"></div>
            <div class="bubble"
                 style="--size:2.3848599788325515rem; --distance:9.892759567315348rem; --position:13.197750758403398%; --time:3.4242182720617493s; --delay:-3.8455191703273726s;"></div>
            <div class="bubble"
                 style="--size:2.1922184642777296rem; --distance:8.337142210275335rem; --position:14.643538894850437%; --time:3.456906559292429s; --delay:-3.566238730878014s;"></div>
            <div class="bubble"
                 style="--size:3.8044152287392174rem; --distance:7.973134885123803rem; --position:33.494761750615815%; --time:2.0676025794749595s; --delay:-2.777186927206325s;"></div>
            <div class="bubble"
                 style="--size:5.55307795241592rem; --distance:6.366551204429426rem; --position:11.930928333342706%; --time:3.328160667862956s; --delay:-2.5180971168131174s;"></div>
            <div class="bubble"
                 style="--size:5.7864585407444515rem; --distance:6.468858566177254rem; --position:71.54741413366634%; --time:3.9829932022499785s; --delay:-2.156341399960857s;"></div>
            <div class="bubble"
                 style="--size:3.328497761556079rem; --distance:6.014470700013244rem; --position:42.20098068082608%; --time:3.2200059752121257s; --delay:-3.9255280564815287s;"></div>
            <div class="bubble"
                 style="--size:5.054016905223013rem; --distance:6.43402203688793rem; --position:19.093681159041452%; --time:3.393580810826696s; --delay:-3.6265123731118827s;"></div>
            <div class="bubble"
                 style="--size:4.670481102019411rem; --distance:8.48217243703731rem; --position:18.310966617075486%; --time:2.211578297949059s; --delay:-3.1689717107963804s;"></div>
            <div class="bubble"
                 style="--size:5.788670295485405rem; --distance:9.896139916986822rem; --position:57.929163681206916%; --time:3.9438451713705347s; --delay:-2.659323989295118s;"></div>
            <div class="bubble"
                 style="--size:2.2895792688027647rem; --distance:9.434090907021847rem; --position:47.30100822936497%; --time:3.9118700835665807s; --delay:-2.744037823937828s;"></div>
            <div class="bubble"
                 style="--size:5.318003892658002rem; --distance:9.624021732315214rem; --position:102.00773681561468%; --time:2.276043234115924s; --delay:-3.134850810392981s;"></div>
            <div class="bubble"
                 style="--size:4.846742637739049rem; --distance:8.66099860750626rem; --position:47.93941192384918%; --time:2.3893630212963712s; --delay:-3.5808054215340723s;"></div>
            <div class="bubble"
                 style="--size:4.318523138555176rem; --distance:8.743673774741552rem; --position:94.19941842888139%; --time:2.2046447577468538s; --delay:-3.1860350176119954s;"></div>
        </div>
        <div class="content">
            <div>
                <div><b>Franck</b> spécialiste BDD et implants capillaires.</div>
                <div><b>Laura</b> scénariste et MJ de renom.</div>
                <div><b>Christine</b> chef de projet depuis cinq générations.</div>
                <div><b>Alexandre</b> si c'est beau c'est que c'est de lui.</div>
            </div>
            <div><img src="{{ asset('images/FLAC_PROD_LOGO.png') }}" alt="">
                <p>Esc ©2020 Réalisation <b>FLAC Production</b></p>
            </div>
        </div>
    </div>
    <svg style="position:fixed; top:100vh">
        <defs>
            <filter id="blob">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                               result="blob"></feColorMatrix>
                <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
            </filter>
        </defs>
    </svg>
</footer>
</html>
