<div class="mailing-box">
    <div class="content">
        <h1>MailBox</h1>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Expéditeur</th>
                <th scope="col">Objet</th>
            </tr>
            </thead>
            <tbody>
            <tr id="mail">
                <th>12/03/2020</th>
                <td>Bobby</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <span class="float-right pr-5"><a href="#"><i class="fas fa-play"></i></a></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>


{% endblock %}

